
# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.
Include /etc/ssh/ssh_config.d/*.conf

Host *
	CASignatureAlgorithms +ecdsa-sha2-nistp256
	IdentityFile	id_ecdsa.pub
	CertificateFile	id_ecdsa-cert.pub
	ForwardAgent no
#   	ForwardX11 no
   	ForwardX11Trusted no
	GatewayPorts no
	ExitOnForwardFailure yes
	#PasswordAuthentication no
#   	HostbasedAuthentication no
#   	GSSAPIAuthentication yes
#   	GSSAPIDelegateCredentials no
#   	GSSAPIKeyExchange no
#   	GSSAPITrustDNS no
#   	BatchMode no
#   	CheckHostIP no
#   	AddressFamily any
#   	ConnectTimeout 0
#	StrictHostKeyChecking yes
   	IdentityFile ~/.ssh/id_rsa
   #	IdentityFile ~/.ssh/id_dsa
   	IdentityFile ~/.ssh/id_ecdsa
   #	IdentityFile ~/.ssh/id_ed25519
#   	Port 22
#   	EscapeChar ~
#   	Tunnel no
#   	TunnelDevice any:any
#   	PermitLocalCommand no
#   	VisualHostKey no
	Cipher		aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,aes192-cbc,aes256-cbc
	MACs		hmac-sha2-512,hmac-sha2-256
	KexAlgorithms	curve25519-sha256,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group14-sha256,diffie-hellman-group16-sha512
	HostKeyAlgorithms ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,rsa-sha2-512,rsa-sha2-256,ssh-ed25519
	PubkeyAcceptedAlgorithms ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,rsa-sha2-512,rsa-sha2-256,ssh-ed25519
#   	ProxyCommand ssh -q -W %h:%p gateway.example.com
#   	RekeyLimit 1G 1h
#	UserKnownHostsFile ~/.ssh/known_hosts.d/%k
    	SendEnv LANG LC_*
    	HashKnownHosts yes
	#    GSSAPIAuthentication yes
	CertificateFile /home/guteshel/.ssh/id_ecdsa-cert.pub
	UserKnownHostsFile /etc/ssh/ssh_known_hosts
